*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color: white;
    color: black;
    padding: 30px 0;
    box-shadow: 0 2px 5px 0 rgba(176,176,176,0.43);
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 40px; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    letter-spacing: 1.6px;
    font-size: 17px ;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color:black;
    font-weight: lighter;
    transition: color 0.3s ease;
    margin-right: 50px;
}

nav a:hover {
    color: green; 
}

.green-button {
    display: inline-block;
    padding: 17px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    height: 55px;
    align-items: center;
    box-sizing: border-box;
    font-size: large;
    font-weight: bold;
    margin-left: 24px;
    box-shadow: 0px ;
}

#intro p{
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 40px;
}

h2{
    font-size: 90px;
    margin-bottom: 15px;
    font-weight: bold;
}

h2 span{
    color: #608f43;
}

#intro iframe{
    width: 100%;
    width: 538px;
    height: 538px;
    border-bottom-left-radius:120px; 
    margin-bottom: 40px;
}

.box{
    width: 100px;
    height: 100px;
    position: absolute;
}

#basicinfo{
    align-content: center;
}

#basicinfo .container{
    flex-direction: column;
}

#trusted{
    font-size: 5vw;
    align-items: center;
    line-height: 9vh;
    padding:2vw;
}

#trustedpara{
    width: 70%;
    line-height: 3vh;
    font-size: 1.4vw;
}

#micro{
    width: 90%;
    height: 35vh;
    padding:2vw 0 2vw 0;
}

#stflex{
    /* display: flex; */
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#bg-1 button{
    background-color: #2D75B6;
    width: 14%;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

#bg-2 button{
    background-color: #2D75B6;
    width: 14%;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
/* sec footer */
#sec-footer{
    display: flex;
    height: 15rem;
}
#sec-1{
    background-color: #2D75B6;
    color: white;
    font-size: 1.5rem;
    padding: 50px;
    padding-bottom: 10%;
}
#sec-1 button{
    width: 40%;
    background-color: white;
    color:#173b5a ;
    padding: 10px;
    font-weight: 700;
    margin-top: 1rem;
    border-radius: 50px;
}
#sec-2{
    background-color: #1C1C1C;
    color: white;
    font-size: 1.5rem;
    padding: 50px;
    padding-bottom: 10%;
    
}
#sec-2 input{
    width: 80%;
    background-color: white;
    color:#173b5a ;
    padding: 5px;
    font-weight: 700;
    margin-top: 1rem;
    border-radius: 50px;
}
/* footer CSS */
footer{
    background-color:#111111;
    padding-top: 40px;
    padding-bottom: 40px;
}
#list{
    display: flex;
   
}
#list li{
    list-style: none;
    padding: 4px;
}
#list a{
    text-decoration: none;
    color: white;
}
#icons{
    display: flex;
}
#icons i{
   background-color: white;
   border-radius: 100%;
   padding: 10px;
   color: black;
   font-weight: 700;
}